@import url("https://fonts.googleapis.com/css?family=Merriweather|Anton");

/* General styling */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}

span {
    color: #d96d4c;
}

/* Header styling */

header {
    width: 100%;
    font-family: Anton;
    /* margin-top: 20px; */
    overflow: hidden;
}

header a {
    color: inherit;
    text-decoration: none;
}

#logo {
    float: left;
    font-size: 400%;
    margin-left: 25px;
    letter-spacing: 6px;
}

#menu {
    font-size: 200%;
    letter-spacing: 6px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #a5b867;
    color: #d96d4c;
}

.active {
    border-bottom: 1px solid #d96d4c;
}

/* Body styling */

body {
    color: #a5b867;
    font-family: Merriweather;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 300%;
    margin: 1%;
    padding: 5%;
    color: #a5b867;
}

.social-networks i:hover {
    color: #d96d4c;
}

/* Home styling */

#main-image {
    text-align: center;
    height: 680px;
    overflow: hidden;
}

#description {
    text-align: center;
    padding: 20px 50px;
    font-size: 25px;
}

#description h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid #d96d4c;
}

#description p {
    padding-top: 10px;
}

#times {
    text-align: center;
    margin: 20px;
    font-size: 25px;
}

#times li {
    list-style-type: none;
    margin: 20px;
}

#times h2 {
    color: #d96d4c;
}

#map {
    margin: 50px 0px 15px;
}

/* Merch styling */

#merch-avail {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

#merch-avail h1 {
    margin: 10px;
}

.merch {
    display: flex;
    flex-direction: row;
}

.merch img {
    object-fit: contain;
    height: 500px;
    width: 33%;
}

/* The following code, up to the hover, I found online to help me create the desired effect when hovering over the merchandise images */

.hands-wrap {
    position: relative;
    height: 500px;
    width: 33%;
}

#hands-image {
    height: 100%;
    width: 100%;
}

#hands-description {
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    color: #a5b867;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.hands-wrap:hover #hands-description {
    visibility: visible;
    opacity: 1;
}

/* End of copied snippet */

/* Same code repeated for each merch item */

.bar-wrap {
    position: relative;
    height: 500px;
    width: 33%;
}

#bar-image {
    height: 100%;
    width: 100%;
}

#bar-description {
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    color: #a5b867;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.bar-wrap:hover #bar-description {
    visibility: visible;
    opacity: 1;
}

.man-wrap {
    position: relative;
    height: 500px;
    width: 33%;
}

#man-image {
    height: 100%;
    width: 100%;
}

#man-description {
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    color: #a5b867;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.man-wrap:hover #man-description {
    visibility: visible;
    opacity: 1;
}

/* Menu styling  */

#menu-intro {
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}

#menu-intro h1 {
    margin: 10px;
}

.drinks {
    height: 500px;
    width: 50%;
    overflow: hidden;
    text-align: center;
}

.drinks img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#tbt {
    height: 500px;
    padding: 10px;
    margin: 50px;
}

#tbt-img {
    display: inline-block;
    width: 49%;
}

#tbt-desc {
    display: inline-block;
    width: 49%;
}

.drinks h3 {
    font-size: 50px;
    margin: 10px;
    letter-spacing: 3px;
}

.drinks h4 {
    font-size: 50px;
    margin: 10px;
    letter-spacing: 2px;
}

.drinks p {
    font-size: 25px;
}

#guin {
    height: 500px;
    padding: 10px;
    margin: 50px;
}

#guin-img {
    display: inline-block;
    width: 49%;
}

#guin-desc {
    display: inline-block;
    width: 49%;
}

#camden {
    height: 500px;
    padding: 10px;
    margin: 50px;
}

#camden-img {
    display: inline-block;
    width: 49%;
}

#camden-desc {
    display: inline-block;
    width: 49%;
}