html {
    background-color: rgb(0, 0, 0);
}

body {
    color: #bada55;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url(assets/images/barca-front.jpg) no-repeat center center;
}